workflows/auto-completar-citas.json
{
  "name": "M3 Auto completar citas",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "4e13e6ae-5459-44a3-b3de-14a7008d69d3",
      "name": "Cron auto completar"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "citas",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "estado",
              "condition": "eq",
              "keyValue": "confirmada"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        224,
        0
      ],
      "id": "e76b2e93-31d5-44bb-8fbe-05f3a9de3a2b",
      "name": "Traer citas confirmadas",
      "credentials": {
        "REDACTED": "Configurar credenciales propias en n8n"
      }
    },
    {
      "parameters": {
        "jsCode": "const ahora = new Date();\n\nreturn $input.all()\n  .filter(item => {\n    const cita = item.json;\n\n    if (!cita.fecha_fin) return false;\n    if (cita.estado !== \"confirmada\") return false;\n\n    const fechaFin = new Date(cita.fecha_fin);\n    if (Number.isNaN(fechaFin.getTime())) return false;\n\n    return fechaFin < ahora;\n  })\n  .map(item => ({ json: item.json }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ],
      "id": "685fd41e-cdfe-41bd-b67b-e04e28307f37",
      "name": "Filtrar citas vencidas"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        672,
        0
      ],
      "id": "2cbef3c4-c317-4750-aa61-e07067dbb023",
      "name": "Procesar citas vencidas"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "citas",
        "filterType": "string",
        "filterString": "=id=eq.{{ $json.id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estado",
              "fieldValue": "completada"
            },
            {
              "fieldId": "completada_at",
              "fieldValue": "={{ $now.toISO() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        896,
        0
      ],
      "id": "392c9cac-d3ab-42a9-8dc5-3af6286e9ad4",
      "name": "Actualizar a completada",
      "credentials": {
        "REDACTED": "Configurar credenciales propias en n8n"
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Cron auto completar": {
      "main": [
        [
          {
            "node": "Traer citas confirmadas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Traer citas confirmadas": {
      "main": [
        [
          {
            "node": "Filtrar citas vencidas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar citas vencidas": {
      "main": [
        [
          {
            "node": "Procesar citas vencidas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar citas vencidas": {
      "main": [
        [],
        [
          {
            "node": "Actualizar a completada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar a completada": {
      "main": [
        [
          {
            "node": "Procesar citas vencidas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "REDACTED_VERSION_ID",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "REDACTED_INSTANCE_ID"
  },
  "id": "REDACTED_WORKFLOW_ID",
  "tags": []
}